// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = 'abundance_estimation'
    author          = 'PAM Informatics'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/team162/abundance_estimation'
    description     = 'Abundance estimation pipeline for metagenomic reads'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = 'v0.4.1'
}

params {
    // Input options
    manifest = ""
    outdir = "./results"
    stb_file = "/data/pam/software/inStrain/stb/gtdb_genomes_reps_r220.stb"
    genome_dir = "/data/pam/software/inStrain/genomes/gtdb_genomes_reps_r220"
    sourmash_db = "/data/pam/software/sourmash/signatures_zipped/gtdb_genomes_reps_r220.zip"
    // sourmash_db = "/data/pam/software/sourmash/sbt_indexes/gtdb_genome_reps_r220.k31.sbt.zip" // alternative index format
    genomes_file_ext = "_genomic.fna.gz"
    bowtie2_samtools_threads = 4
    instrain_threads = 4
    instrain_full_output = false
    instrain_quick_profile = false
    skip_qc = false
    cleanup_intermediate_files = false
    instrain_quick_profile = false
    bowtie2_samtools_only = false
    bmtagger_db = "/data/pam/software/BMTAGGER_INDEX"
    bmtagger_host = "T2T-CHM13v2.0"
    publish_host_reads = false

    // Process options
    max_retries = 1

    // LSF options
    queue_size = 50
    submit_rate_limit = '50/2min'
}

process {
    withName:INSTRAIN {
        cpus = params.instrain_threads
        memory = {10.GB + (25.GB * task.attempt)}
        maxRetries = 3
    }

    withName:BOWTIE2SAMTOOLS {
        cpus = params.bowtie2_samtools_threads
        memory = {10.GB + (10.GB * task.attempt)}
        maxRetries = 3
    }
}

// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}
